<div class="post">
    <a href="<%- url_for(post.path) %>" title="<%- post.title || "Untitled" %>">
        <%- image_tag(post.cover || theme.cover, {class: "cover", width: 680, height: 440}) %>
    </a>
    <div class="else">
        <p><%- post.date.locale("zh-cn").format("MMMM DD, YYYY") %></p>
        <h3><%- link_to(post.path, post.title || "Untitled|无题", {class: "posttitle"}) %></h3>
        <p><%- strip_html(post.description) %></p>
    </div>
</div>
