<div class="nav">
    <ul id="menu-menu" class="menu">
        <% for (var i in theme.menu){ %>
        <li class="<%- theme.menu[i].indexOf('http') > -1 ? " " : "pview" %> menu-item menu-item-type-post_type menu-item-object-page animated infinite pulse delay-2s">
            <%- link_to(theme.menu[i].lastIndexOf('/') > 0 ? theme.menu[i] : theme.menu[i] + '/', i, {external: true})%>
        </li>
        <%}%>
    </ul>

    <!--站内检索框-->
    <% if (theme.algoliaKey != undefined && theme.algoliaApp != undefined && theme.algoliaIndice != undefined){ %>
        <div id="algolia-search" 
            data-k='<%=theme.algoliaKey%>' 
            data-a='<%=theme.algoliaApp%>'
            data-i='<%=theme.algoliaIndice%>'
        >
            <div id="search-box"></div>
            <div id="hits"></div>
            <div id="pagination"></div>
        </div>
        <script type="text/html" id="hit-template">
            <div class="hit">
                <!-- <span class="hit-name"> 
                    {{#helpers.highlight}}{ "attribute": "title" }{{/helpers.highlight}}
                </span> -->
            </div>
        </script>
        <script src="/js/algolia.js"></script>
    <% } %>


    <p id="copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>.
        Powered by <%- link_to("http://hexo.io/", "Hexo", {external: true})%>.
        Theme <%- link_to("https://github.com/WhiteRobe/hexo-theme-diaspora", "wr-diaspora", {external: true})%>.
        <br/>
        <span id="busuanzi_container_site_pv">本站总访问量
          <span id="busuanzi_value_site_pv"></span>次
        </span>
    </p>
</div>
